/* prevents text from going under the navbar */
body {
    padding-top: 50px;
}

#redCircle {
    border-radius: 50%;
	width: 20px;
	height: 20px;
    background-color: red;
}

#greenCircle{
    border-radius: 50%;
	width: 20px;
	height: 20px;
    background-color: green;
}