[/]
tools.staticfile.root = "C:/Users/RonOS/PycharmProjects/Project-Embedded-Systems/Central Unit/"

[/metro.min.css]
tools.staticfile.on = True
tools.staticfile.filename = "public/css/metro.min.css"

[/metro-responsive.min.css]
tools.staticfile.on = True
tools.staticfile.filename = "public/css/metro-responsive.min.css"

[/metro.min.js]
tools.staticfile.on = True
tools.staticfile.filename = "public/js/metro.min.js"

[/vis.min.js]
tools.staticfile.on = True
tools.staticfile.filename = "public/js/vis.min.js"

[/vis.min.css]
tools.staticfile.on = True
tools.staticfile.filename = "public/css/vis.min.css"

[/jquery-3.1.1.min.js]
tools.staticfile.on = True
tools.staticfile.filename = "public/js/jquery-3.1.1.min.js"